body {
	height: 100%;
	background-color: black;
	cursor: default;
	text-align: center;
	overflow: hidden;
}

canvas {
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .1);
}

h1 {
	font-size: 0px;
	color: rgb(163 206 230);
	text-shadow: 0 0 55px rgb(185 184 172 / 75%);
	font-family: 'Roboto', sans-serif;
	text-decoration: solid;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgb(36 79 103 / 75%);
	/*transform: translateX(-100%);*/
	margin-bottom: 0;
}

h2 {
	font-size: 0px;
	color: rgb(36 79 103 / 50%);
	font-family: 'Roboto', sans-serif;
	text-decoration: solid;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgb(163 206 230 / 50%);
	margin-top: 0px;
}

div.intro {
	opacity: 0;
	transition-duration: 2s;
}

.intro {
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
}

input {
	padding: 5px;
	border: 2px solid white;
	border-radius: 15px;
	background-color: rgba(0,0,0,0);
	color: white;
	text-align: center;
	font-size: 38px;
	outline: none;
}

input[type='button'] {
	cursor: pointer;
	width: 275px;
	transition-duration: 0.5s;
}

input[type='button']:selected {
	background-color: blue;
}

input[type='button']:hover {
	background-color: rgba(120, 120, 200, 0.85 );
}

#divIntro {
	margin: 0;
	top: calc(50% - 300px);
	left: 0;
	position: absolute;
	width: 100%;
	height: 325px;
}